.DS_Store
coverage
node_modules
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/tests/unit/coverage/
/tests/e2e/reports/
selenium-debug.log
junit.xml
test-report.xml
screenshots
local.*
.env
.env.development
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
